<div class="footer">
  <a target="blank" href="https://www.facebook.com/myphammaeux"><img width="23" src="/assets/social-03-white.svg" alt="Social 03 white ef40a27b60cef3d2c1b78414484e33852a01659c0a15cbbfd521e63764c8aa31"></a>
  <div class="footer_text">
    Mọi ý kiến thắc mắc và đóng góp xin gởi về<a href="mailto:team@dwork.vn?subject=%5BmyphamMAEUX%5D%20%C4%90%C3%B3ng%20g%C3%B3p%20%C3%BD%20ki%E1%BA%BFn%20">đây</a><br>Bản quyền 2015 thuộc về công ty<a href="http://dwork.vn">Dwork.vn</a>
  </div>
</div>